<div id="buttontab">
  <a href="/applications/pending" class="link <%= type==='neodlucen' ? 'active':'' %>">Spisak prijava za odsustvo</a>
  <a href="/applications/approved" class="link <%= type==='odobren' ? 'active':'' %>">Spisak odobrenih odsustava</a>
</div>