a {
  color: aquamarine;

  h1 {
    stroke-width: 0ch;

    .smt {
      overflow: hidden;

      p {
        display: block;

        &:active {
          opacity: 0.3;
        }
      }

      div {
        empty-cells: show;
      }

      &:hover {
        opacity: 0.2;

        &#best {
          cursor: pointer;
        }
      }
    }
  }
}
