<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css">
    <title>ИСПОЈ</title>
    <link rel="icon" href="/images/logo.png" type="image/icon type">
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <%- include("partials/logout.ejs") %>

    <main>
      <h2>Prijavi se pomoću svog naloga</h2>
      <form action="/login" method="POST" autocomplete="off">
        <article id="Vc">
          <label for="username">Korisničko ime </label><input type="text" name="username" autocomplete="off" placeholder=""/>
        </article>
        <article id="alpha">
          <label for="password">Lozinka </label><input type="password" name="password" autocomplete="off" placeholder=""/>
        </article>
        <article id="start">
          <button type="submit">PRIJAVI SE</button>
        </article>
      </form>
      <p id="message"></p>
      </form>
      
    </main>
  </body>
</html>