*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*::selection {
  background-color: yellow;
  color: rgba(255, 22, 22, 0.781);
}

input,
button {
  cursor: pointer;
}

main {
  max-height: 69%;
  overflow-y: scroll;
}

main h2 {
  font-size: 40px;
  text-align: center;
  padding: 16px;
}

body {
  background-image: url("../images/m10.jpg");
  background-size: 100vw 100vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

h1 {
  background-color: rgba(83, 255, 83, 0.438);
  font-size: 40px;
  text-align: center;
}

main {
  padding: 0px 20px 20px 20px;
  width: 50%;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(83, 255, 83, 0.685);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main article {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  font-size: 30px;
}

.logout {
  position: absolute;
  top: 60px;
  right: 50px;
  height: 36px;
  width: 180px;
  font-size: 25px;
  background-color: rgba(239, 28, 63, 0.8);
  border: 2px solid rgba(94, 93, 93, 0.863);
  border-radius: 5px;
}

.logout:focus,
.logout:active,
.logout:hover {
  border: 2px solid rgba(3, 3, 3, 0.863);
  background-color: rgba(239, 28, 63, 0.5);
}

main button {
  height: 36px;
  width: 30%;
  font-size: 25px;
  background-color: rgba(39, 128, 163, 0.651);
  border: 2px solid rgba(94, 93, 93, 0.863);
  border-radius: 5px;
}

main button:focus,
main button:active,
main button:hover {
  border: 2px solid rgba(3, 3, 3, 0.863);
  background-color: rgba(39, 128, 163, 0.521);
}

main input,
main select {
  width: calc(100% - 192px);
  background-color: rgba(255, 255, 255, 0.205);
  outline: none;
  border: 2px solid rgba(94, 93, 93, 0.863);
  height: 36px;
  font-size: 25px;
  border-radius: 5px;
}

main input:focus,
main input:active,
main input:hover,
main select:focus,
main select:active,
main select:hover {
  border: 2px solid rgba(3, 3, 3, 0.863);
  background-color: rgba(255, 255, 255, 0.041);
}

main input option,
main select option {
  background-color: rgba(255, 255, 255, 0.205);
}

main .unit {
  display: inline-block;
  width: 80px;
  padding-left: 4px;
}

main #message {
  color: red;
  text-align: center;
  font-size: 26px;
}
