*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

*::selection {
  background-color: yellow;
  color: rgba(255, 22, 22, 0.781);
}

body {
  background-size: 100vw 100vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

h1 {
  background-color: rgba(83, 255, 83, 0.438);
  font-size: 40px;
  text-align: center;
}

main {
  padding: -20px 20px 20px 20px;
  width: 65%;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(83, 255, 83, 0.685);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main article {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  font-size: 30px;
}

main button {
  height: 36px;
  width: 30%;
  font-size: 25px;
  background-color: rgba(39, 128, 163, 0.651);
  border: 1px solid rgba(94, 93, 93, 0.863);
  border-radius: 5px;
}

main button:focus,
main button:active,
main button:hover {
  border: 2px solid rgba(3, 3, 3, 0.863);
  background-color: rgba(39, 128, 163, 0.521);
}

main input,
main select {
  width: calc(80% - 200px);
  background-color: rgba(255, 255, 255, 0.205);
  outline: none;
  border: 1px solid rgba(94, 93, 93, 0.863);
  height: 36px;
  font-size: 25px;
  border-radius: 5px;
}

main input:focus,
main input:active,
main input:hover,
main select:focus,
main select:active,
main select:hover {
  border: 2px solid rgba(3, 3, 3, 0.863);
  background-color: rgba(255, 255, 255, 0.041);
}

main input option,
main select option {
  background-color: rgba(255, 255, 255, 0.205);
}

#datefrom input,
#dateto input {
  width: 100%;
}

main .unit {
  display: inline-block;
  width: 80px;
  padding-left: 4px;
}

main #message {
  color: red;
  text-align: center;
  font-size: 26px;
}

#radio {
  font-size: 25px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

#radio input {
  width: 32px;
  height: 32px;
}

#radio span {
  display: flex;
  justify-content: center;
  align-items: center;
}
